* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    margin: 20px auto;
    width: 80%;
    height: 1000px;
    background-color: darkslateblue;
    /* overflow: auto; */

    display: grid;
    /* grid-template-columns: 150px 150px 150px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 150px); */
    grid-template-columns: 150px 150px 150px;

    /* grid-template-rows: 100px 100px; prva vrednost prvi red, drugi red drugi itd...     */
    /* grid-auto-rows: 150px; */
    grid-auto-rows: minmax(150px, 150px);

    /* grid-row-gap: 25px;
    grid-column-gap: 25px; */

    /* grid-gap: 25px; */
    grid-gap: 25px 25px;

    grid-template-areas: 
    "header header side"
    "header header side"
    "main side2 side2"
    "side3 side3 side3"
    "side4 side4 side4"
    ;
}

/* .parent .box {
    width: 150px; 
    height: 150px;
} */

.parent .box1 {
    background-color: darkgoldenrod;

    grid-area: header; 
}

.parent .box2 {
    background-color: darkred;
    
    grid-area: side;
}

.parent .box3 {
    background-color: darkkhaki;
    grid-area: main;
}

.parent .box4 {
    background-color: darkgreen;
    grid-area: side2;
}

.parent .box5 {
    background-color: rebeccapurple;
    grid-area: side3;
}

.parent .box6 {
    background-color: darkviolet;
    grid-area: side4;
}