* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    margin: 20px auto;
    width: 80%;
    height: 1300px;
    background-color: darkslateblue;
    /* overflow: auto; */

    display: grid;
    
    grid-template-columns: 150px 150px 150px;

    grid-auto-rows: minmax(150px, 150px);
    
    grid-gap: 25px 25px;

    justify-content: center;
    align-content: center;
    /* justify-content: space-between; */
}

.parent .box1 {
    background-color: darkgoldenrod;

    /* grid-column: 1/3; prva vrednost startna pozicija, druga vrednost zavrsna pozicija  */
    grid-column: 1/3;
    grid-row: 1/3;

    justify-self: center;
    align-self: center;
}

.parent .box2 {
    background-color: darkred;
    grid-row: 1/4;

    
}

.parent .box3 {
    background-color: darkkhaki;   

    grid-column: span 2;
}

.parent .box4 {
    background-color: darkgreen;

    grid-column: span 2;
    grid-row: span 2;
}

.parent .box5 {
    background-color: rebeccapurple;

    grid-row: span 2;
}

.parent .box6 {
    background-color: darkviolet;

    grid-column: 1/-1;
}
