* {
    margin: 0;
}

body {
    font-family: 'Exo 2', 'sans-serif';

}

.glavni:nth-of-type(1) {
    background-color: darkseagreen;
    margin: 50px auto;
    width: 650px;
    height: 225px;
    /* text-align: center; */

    /* overflow: visible; ovo je defaultna vrednost*/
    /* overflow: hidden; krije sve sto izlazi iz diva */
    /* overflow: scroll; dobijamo skrol kod diva */
    /* overflow: auto; isto kao skrol ali ako nemamo da skrolamo
    sa strane, onda nam makne taj skrol i imamo samo dole i gore skrol
    isto tako vazi i sa strane... */
    overflow-y: scroll;
    /* imamo y i x, x je za sirinu, y za visinu */
}


.glavni:nth-of-type(2) {
    background-color: darkgrey;
    margin: 50px auto;
    width: 650px;
    height: 225px;
    overflow-y: scroll;
    /* display: none; Ovaj kod brise odredjeni sadrzaj preglednosti */
    /* visibility: hidden; razlika izmedju ovoga i display none
    jeste sto je prostor ostao na body, ali se ne vidi */
    
}

.sec-p {
    padding-top: 20px;
}

.icon {
    color: blue;
    margin: 5px 7px 5px 7px;
    background-color: blanchedalmond;
}   