* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(43, 43, 43);
}

.container:nth-of-type(1) {
    background-color: aqua;
    width: 600px;
    overflow-y: scroll;
    font-size: 22px;
    height: 225px;
    margin: 50px auto;
    padding: 20px;
}


.container:nth-of-type(2) {
    background-color: darkorange;
    width: 600px;
    overflow-y: scroll;
    font-size: 22px;
    height: 225px;
    margin: 50px auto;
    padding: 20px;
}

.container:nth-of-type(1) .icon {
    padding: 20px 10px;
    color: red;
    width: 20px;
    background-color: black;
    text-align: center;
}

.container:nth-of-type(2) .icon {
    padding: 20px 10px;
    color: blue;
    width: 20px;
    background-color: black;
    text-align: center;
}

.container span {
    color: red;
    font-size: 30px;
}