* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    margin: 0px auto;
    width: 100%;
    height: 3rem;
    background-color: darkorange;
    padding-bottom: 1rem;
}

.container img {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 55rem;
}

.container a {
    color: darkblue;
    text-decoration: none;
    padding: 0.5rem;   
    font-size: 18px;

}