* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

/* Ovo smo uzeli sa google fonts sajta i selektovali smo import
i ovo upisemo u css i tjt */

body {
    font-family: 'Exo 2', 'sans-serif';

}

.glavni {
    background-color: aqua;
    width: 600px;
    padding: 15px 0px;
    margin: 50px auto;
}

.glavni-p {
    text-align: justify;
    padding: 20px;
}

.glavni h1 {
    text-align: center;
    text-transform: uppercase;
}   