body {
    background-color: rgb(118, 118, 118);
    font-family: 'Exo 2', sans-serif;
}

.container {
    background-color: aqua;
    width: 600px;
    
    border: 2px solid black;
    margin: 10px auto;
    border-radius: 25px;
}

.container img {
    width: 600px;
    height: 380px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 20px;
}

.container .ikon {
    padding: 8px;
    font-size: 22px;
}

.container p {
    font-size: 22px;
    padding: 0 10px;
}
