.container { 
    background-color: aqua;
    width: 500px;
    height: 500px;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: darkorange;
    position: relative;
    top: 20px;
    left: 50px;
    z-index: 5;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: darkred;
    position: relative;
    left: 100px;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
    position: relative;
    top: -20px;
    left: 150px;
    z-index: 5;
}