.moja_klasa {
    color: blue;
}

.container {
    background-color: orange;
    display: inline-block;
    width: 200px;
    height: 200px;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
}

h5 {
    margin: 0;
}

p {
    margin: 30px;
}