* {
    margin: 0;
    padding: 0;
}

.parent {
    margin: 0 auto;
    width: 80vw;
    height: 60vh;
    background-color: darkseagreen;
    display: flex;
    /* horizontalno poravnanje */
    
    /* justify-content: start; na pocetak */
    /* justify-content: center;     */
    /* justify-content: end; na kraj */
    justify-content: space-between;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */


    /* vertikalno poravnanje */
    
    /* align-items: start; */
    /* align-items: end; */
    /* align-items: center;  */
    /* align-items: center; */

}

.parent .box:nth-of-type(1) {
    width: 200px;
    height: 200px;
    background-color: red;
    align-self: start;
}

.parent .box:nth-of-type(2) {
    width: 200px;
    height: 200px;
    background-color: lime;
    align-self: center;
    display: flex;
}

.parent .box:nth-of-type(2) p:nth-of-type(2) {
    color: darkred;
}

.parent .box:nth-of-type(2) p:nth-of-type(1) {
    align-self: end;
}

.parent .box:nth-of-type(2) p:nth-of-type(2) {
    align-self: center;
}

.parent .box:nth-of-type(3) {
    width: 200px;
    height: 200px;
    background-color: aqua;
    align-self: end;
}