body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 40);
}

#container {
    background: linear-gradient(to top, #2fafff, rgb(0, 6, 70));
    width: 500px;
    margin: 30px auto;
    border: 3px dotted rgb(14, 121, 0);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.naslov {
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 15px 0;
}

.podnaslov {
    font-size: 22px;
    padding: 15px 20px;
}

.lista {
    font-size: 22px;
    list-style-type: circle;
}

.img {
    width: 500px;
    height: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.img:hover {
    width: 500px;
    height: 300px;
    content: url(okean1.jpg);
}