body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 40);
}

#container {
    background: linear-gradient(to top, #2fafff, rgb(0, 6, 70));
    /* mozemo da stavimo u background color rgba, ovo a to jest
    cetvrta vrednost oznacava opacity tog backgrounda */

    width: 500px;
    margin: 30px auto;
    border: 3px solid rgb(14, 121, 0);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 4px 4px 8px rgba(173, 255, 47, 0.6),
    -4px -4px 8px rgba(173, 255, 47, 0.6);

    /* nakon zareza imamo za gore i levu stranu shadow, a prvo pre
    zareza oznacava dole i desno */

    /* imamo rgb to oznacava boju, a ako dodamo a, to bude rgba
    i a oznacava alfa sto zapravo oznacava koliko ce senka da
    bude vidljiva i moze biti od 0 do 1, sto je veci broj senka
    ce vise biti vidljiva */

    /* prva vrednost se odnosi na desnu stranu, druga vrednost
    na dno, a treca vrednost ona vrsi sencenje i imamo boju da definisemo */

    /* opacity: 0.5; */

    /* opacity oznacava providnost necega */
}

.naslov {
    text-transform: uppercase; /*sva slova velika*/
    
    /* text-transform: lowercase; sva slova mala*/
    /* text-transform: capitalize; pocetno slovo veliko*/
    /* text-transform: none; default vrednost */

    color: black;
    text-align: center;
    /* padding: 15px 0; */

    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-top itd.. se odnosi samo na padding dela koje smo pomenuli  */
}

.podnaslov {
    font-size: 22px;
    /* padding: 15px 20px; */

    padding-top: 15px;
    padding-bottom: 15px;

    

    padding-right: 20px;
    padding-left: 20px;
}

.lista {
    /* text-align: center;
    text-align: left;
    text-align: right; */

    /* text align sluzi da pomeri text desno levo center itd... */
    
    /* text-align: justify; */
    
    
    /* text-indent: 20px; */
    /* ovo sluzi da prvu rec pomeri za datu vrednost */

    /* text-align-last: 30px; */
    /* ovo sluzi da poslednju rec/recenicu pomeri za datu vrednost */

    font-size: 22px;
    list-style-type: none;
}

.img {
    width: 500px;
    height: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.img:hover {
    content: url(okean1.jpg);
}

.lista:hover {
    background-color: yellowgreen;
}